img {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 10px 85px;
}



body{
    background-image: url("../images/full-bloom.png");
}

header {
    font-size: 75px;
    background-image: url("../images/concrete-1225035_1920.jpg");
    height: 200px;
    width: 1000px;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

#rules {
    background-image: url("../images/vintage-concrete.png");
    width: 1000px;
    padding: 50px;
    margin: 15px 0px; 
    text-align: center;
}

.output {
    float: left;
    background-image: url("../images/cork-wallet.png");
    height: 100px;
     width: 365px;
    margin: 15px 22px 10px 0px;
    text-align: center;

}

.output2 {
    float: left;
    background-image: url("../images/cork-wallet.png");
    height: 100px;
     width: 365px;
    margin: 15px 0px 10px 0px;
    text-align: center;

}