img {
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 10px 65px;
}



body{
    background-image: url("../images/full-bloom.png");
}

header {
    font-size: 75px;
    background-image: url("../images/concrete-1225035_1920.jpg");
    height: 125px;
    width: 1000px;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

#rules {
    background-image: url("../images/vintage-concrete.png");
    width: 1000px;
    height: 250px;
    padding: 10px;
    margin: 15px 0px; 
    text-align: center;
}

.output {
    float: left;
    background-image: url("../images/cork-wallet.png");
    height: 75px;
     width: 365px;
    margin: 0px 22px 10px 0px;
    text-align: center;
    font-size: 18px;
    padding: 5px;

}

.output2 {
    float: left;
    background-image: url("../images/cork-wallet.png");
    height: 75px;
    width: 365px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 18px;
    padding: 5px;

}

#wins,
#losses,
#guess,
#guess-counter{

}